spring:
  application:
    name: gateway-service
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      routes:
        - id: catalog-service
          uri: lb://catalog-service
          predicates:
            - Path=/api/books/**, /api/authors/**, /books/**
        - id: user-service
          uri: lb://user-service
          predicates:
            - Path=/auth/**, /api/users/**
        - id: loan-service
          uri: lb://loan-service
          predicates:
            - Path=/api/loans/**
        - id: recommendation-service
          uri: lb://recommendation-service
          predicates:
            - Path=/recommendations/**

server:
  port: 8080

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
